* {
    margin:0;
    padding:0;
    outline: none;
    box-sizing: border-box;
}
body {
    background: #EAECEE;
    color: #333;
    font-size: 16px;
    -webkit-text-size-adjust:100%;
    text-size-adjust:100%;
    min-width: 960px;
    font-family: Helvetica, sans-serif;
}
.clearfix:before, .clearfix:after {
    display: table;
    line-height: 0;
    content: "";
}
.clearfix:after {
    clear: both;
}
.container {
    width: 100%;
    margin: auto;
    position: relative;
    text-align: center;
}
.products, .basket {
    width: 900px;
    margin: 20px auto;
    background-color: #fff;
    border: 1px solid #333;
    padding: 20px;
    border-radius: 3px;
}
.product {
    float: left;
    width: 30%;
    border: 1px solid #333;
    padding: 12px;
    margin: 0 13px;
    border-radius: 3px;
}
.product:hover {
    box-shadow: 3px 3px 3px #999;
}
.icon {
    height: 216px;
}
.name {
    font-size: 24px;
    color: #333;
    line-height: 36px;
}
.price {
    font-size: 20px;
    color: #ff9383;
    line-height: 40px;
    font-weight: bold;
}
.price span {
    color: #666;
}
.buy {
    color: #ff6f62;
    background-color: #ffc7ca;
    border: 1px solid #ff7320;
    line-height: 36px;
    padding: 0 18px;
    cursor: pointer;
    font-weight: bold;
    border-radius: 3px;
}
.summary {
    font-size: 20px;
    line-height: 40px;
}
.summary span {
    color: #0074D9;
    font-weight: bold;
}
.items {
    width: 100%;
    border-spacing: 0;

}
.items tr {
    height: 40px;
}
.items tr:nth-child(even) {
    background-color: #f9f9f9;
}
.items tr:last-child {
    font-weight: bold;
}
.items tr td, .items tr th {
    line-height: 40px;
    vertical-align: middle;
    padding: 2px;
}
.items tr:hover td {
    background-color: #eee;
}
.items tr:hover:last-child td {
    background-color: #fff;
}
.items tr:last-child td {
    border-top: 1px solid #666;
}
.items tr td:nth-child(2) {
    width: 30%;
    text-align: left;
}
.items tr td:nth-child(2n+3), .items tr:last-child td {
    text-align: right;
    padding-right: 20px;
}
.items img {
    width: 40px;
    display: inline;
    vertical-align: middle;
}
.items button {
    cursor: pointer;
    color: #ff6f62;
    background-color: #ffc7ca;
    border: 1px solid #ff7320;
    line-height: 24px;
    font-weight: bold;
    border-radius: 50%;
    width: 24px;
    height: 24px;
}
button:hover {
    background-color: #ffc7ca;
    box-shadow: 0 0 5px #ff6f62;
}
