* {
    margin: 0;
    padding: 0;
}
body {
    padding: 20px;
}
.ch-wrap {
    border: 1px solid #111;
    position: relative;
}
.ch-item {
    float: left;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    text-align: center;
    font-weight: bold;
    padding-top: 3px;
}
.ch-shadow {
    text-shadow:
            -1px -1px 1px #AAA,
            1px -1px 1px #AAA,
            -1px 1px 1px #AAA,
            1px 1px 1px #AAA;
}
.ch-active {
    border: 3px solid red;
    padding-top: 0;
}
.ch-item:hover {
    border: 3px solid blue;
    cursor: pointer;
    padding-top: 0;
}
.ch-black {
    background: #111;
}
.ch-label {
    position: absolute;
    text-align: center;
}